//layout的標題區

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
* {
  font-family: 'Noto Sans TC', sans-serif;
  // cursor: url(https://cur.cursors-4u.net/food/foo-1/foo5.cur), auto !important;
  // cursor: url('assets/delicious/2-pic-11.png'), auto !important;
  // cursor: url('/test.ico'), auto !important;
}

body {
  color: #2b2b2b;
}

/* 移除a下斜線 */
a {
  text-decoration: none;
  cursor: pointer;
}

// header陰影
.q-header-custom {
  box-shadow: 0px 2px 3px 0px rgba(220, 220, 220, 0.25);
}

/* 移除a元素預設變化 */
a:link,
a:visited,
a:hover,
a:focus,
a:active {
  color: inherit;
}

.q-header {
  z-index: 3000;
  .q-btn:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: inherit;
    box-shadow: none;
  }
}
.q-footer {
  z-index: 2000;
}

// 調整區
.q-page {
  background: #fffcf5;
  display: block;
}

.q-item.q-router-link--active,
.q-item--active {
  color: #f7a62c;
}
.q-tab-panel {
  padding: 0;
}

.text-brown-7 {
  color: #6a3906 !important;
}
.text-yellow-7 {
  color: #f7a62c !important;
}
.fw-700 {
  font-weight: 700 !important;
}
.mt-5 {
  margin-top: 10% !important;
}
.m-25px-0 {
  margin: 25px 0 3% 0 !important;
  @media (min-width: 992px) {
    margin: 25px 0 !important;
  }
}
.w-100 {
  width: 100% !important;
}
.w-24 {
  width: 23% !important;
}
.w-48 {
  width: 48% !important;
}
.w-96 {
  width: 98% !important;
}
.w-md-12 {
  @media (min-width: 992px) {
    width: 11% !important;
  }
}
.w-md-18 {
  @media (min-width: 992px) {
    width: 17% !important;
  }
}
.w-md-24 {
  @media (min-width: 992px) {
    width: 23% !important;
  }
}
.w-md-30 {
  @media (min-width: 992px) {
    width: 29% !important;
  }
}
.w-md-36 {
  @media (min-width: 992px) {
    width: 35% !important;
  }
}
.w-md-48 {
  @media (min-width: 992px) {
    width: 48% !important;
  }
}
.w-md-96 {
  @media (min-width: 992px) {
    width: 98% !important;
  }
}
.fc-2b {
  color: #2b2b2b !important;
}

.mg-0 {
  margin: 0;
}
.mgb-0 {
  margin-bottom: 0;
}
.mgt-0 {
  margin-top: 0;
}
.ta-left {
  text-align: left;
}

.fz-1125r {
  font-size: 1.125rem;
}
.fz-0875r {
  font-size: 0.875rem;
}

.p-0-5 {
  padding: 0 5% !important;
}
.m-20 {
  margin: 2% 0;
}
.m-2 {
  margin: 2%;
}
.mb-2 {
  margin-bottom: 2%;
}

.focus {
  color: #f7a62c;
}

.pointer {
  cursor: pointer;
}
.isLink {
  color: blue !important;
  text-decoration: underline;
}
.wrap {
  word-break: break-all;
}
.fw-800 {
  font-weight: 800;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}

//專案區
//layout
//headTab
#headTabs {
  // padding-bottom: 10px;
  .q-tab__content {
    display: flex !important;
    flex-direction: row !important;
    .q-tab__label {
      font-size: 21px;
    }
    svg {
      margin: 0 5px;
      img {
        object-fit: contain;
        width: 24px;
      }
    }
  }

  .q-tab--active {
    // background-color: #cc66bc !important;
    color: #fff !important;
    path {
      fill: white;
    }
  }
  .q-tab__content:hover {
    path {
      fill: #fff;
    }
    color: #fff;
  }
}

// vue3carousel
.indexSection4 {
  .carousel__pagination {
    width: 100%;
    padding: 0;
    .carousel__pagination-item {
      min-width: 25px;
      .carousel__pagination-button::after {
        background-color: #acacac;
        min-width: 25px;
      }
      .carousel__pagination-button:hover::after,
      .carousel__pagination-button--active::after {
        min-width: 25px;
        background-color: #f7b52c !important;
      }
    }
    @media (min-width: 1024px) {
      .carousel__pagination-item {
        display: none;
        min-width: 50px;
        .carousel__pagination-button::after {
          min-width: 50px;
        }
        .carousel__pagination-button:hover::after,
        .carousel__pagination-button--active::after {
          min-width: 50px;
        }
      }
    }
  }
}
// vue3carousel
.indexSection1 {
  .carousel__pagination {
    width: 100%;
    padding: 0;
    .carousel__pagination-item {
      min-width: 25px;
      .carousel__pagination-button::after {
        background-color: #acacac;
        min-width: 25px;
      }
      .carousel__pagination-button:hover::after,
      .carousel__pagination-button--active::after {
        min-width: 25px;
        background-color: #f7b52c !important;
      }
    }
    @media (min-width: 1024px) {
      .carousel__pagination-item {
        // display: none;
        min-width: 50px;
        .carousel__pagination-button::after {
          min-width: 50px;
        }
        .carousel__pagination-button:hover::after,
        .carousel__pagination-button--active::after {
          min-width: 50px;
        }
      }
    }
  }
}

//banner輪播 q-carousel

.banner {
  .q-carousel__arrow .q-icon {
    font-size: 2.5rem;
    // display: none;
    color: #f7a62c;
    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
    @media (min-width: 992px) {
      font-size: 3.85rem;
    }
  }
  .q-carousel__prev-arrow--horizontal {
    left: 3%;
  }
  .q-carousel__next-arrow--horizontal {
    right: 3%;
  }
  .q-carousel__arrow {
    z-index: 100;
  }
  .q-carousel__navigation--bottom {
    // display: none;

    bottom: 2%;
    z-index: 100;
    font-size: 2rem;
    @media (min-width: 1300px) {
      bottom: 7%;
    }
    .q-icon {
      font-size: 0.85em;
    }
  }

  .q-carousel__navigation-inner {
    @media (max-width: 768px) {
      display: none;
    }
  }
  .q-carousel--navigation-right.q-carousel--with-padding .q-carousel__slide,
  .q-carousel--navigation-right .q-carousel--padding,
  .q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide,
  .q-carousel--arrows-horizontal .q-carousel--padding {
    padding: 0;
  }
  // .q-icon,
  // .material-icons,
  // .material-icons-outlined,
  // .material-icons-round,
  // .material-icons-sharp,
  // .material-symbols-outlined,
  // .material-symbols-rounded,
  // .material-symbols-sharp {
  //   // -webkit-user-select: none;
  //   // user-select: none;
  //   cursor: inherit;
  //   // font-size: inherit;
  //   display: inline-flex;
  //   align-items: center;
  //   justify-content: center;
  //   vertical-align: middle;
  //   color: #F50077;
  // }

  .carouselBtn {
    width: 85px;
    font-size: 1px !important;
    flex-shrink: 0;
    background: #878787;
    padding: 2px;
  }
  .carouselBtn2 {
    width: 85px;
    font-size: 1px !important;
    flex-shrink: 0;
    background: #f7a62c;
    padding: 2px;
  }
}

.toBuy::before {
  box-shadow: none !important;
}
.q-focus-helper {
  display: none;
}
