//Banner
.banner {
  display: block;
  height: 100%;
  background: #f5f5f5;
  img {
    width: 100%;

    height: 100%;
    object-fit: contain;
  }

  width: 100%;
  min-height: 151.5px;
  // height: 100%;
  .q-carousel {
    background-color: #f5f5f5;
    height: 100%;
  }
  .q-carousel__arrow .q-icon {
    font-size: 3rem;
    color: #e5006e;
  }
}

//熱門商品
.indexSection2 {
  background: #fffcf5;
  padding: 3% 2%;
  .section2Container {
    background: white;
    padding: 5% 3%;
    h5 {
      margin: 0;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
    }

    .section2TabPanels {
      width: 100%;
      margin-top: 2%;
      .tabPanel {
        width: 100%;
        .topImg {
          img {
            width: 100%;
            object-fit: contain;
          }
        }
        .bottomImg {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          img {
            width: 49%;
            object-fit: contain;
            margin-top: 2%;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 3% 10%;
    .section2Container {
      padding: 2% 3%;
      h5 {
        font-size: 34px;
      }
      .section2TabPanels {
        .tabPanel {
          .topImg {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img {
              width: 49.3%;
            }
          }
          .bottomImg {
            margin-top: 1%;
            img {
              width: 24%;
              margin-top: 0%;
            }
          }
        }
      }
    }
  }
}

//超值優惠
.indexSection3 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  // background: white;
  padding: 3% 2%;
  .section3Container {
    width: 100%;
    padding: 5% 0%;
    background: white;
    display: flex;
    flex-direction: column;
    h5 {
      margin: 0;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
    }
    .section3Cards {
      display: flex;
      flex-direction: column;

      .section3Card {
        margin: 5% 0;
        box-shadow: none;
        padding: 3%;
        .section3CardTxt {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          p {
            margin: 0;
            font-weight: 700;
            font-size: 14px;
          }
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 3% 10%;
    background: transparent;
    .section3Container {
      padding: 2% 0%;
      width: 100%;
      background: transparent;
      h5 {
        font-size: 34px;
      }
      .section3Cards {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1%;
        .section3Card {
          width: 32%;
          //   box-shadow: none;
          margin: 0;
          .section3CardTxt {
            p {
              font-size: 28px;
            }
          }
        }
      }
    }
  }
}

//探索更多
.indexSection4 {
  .section4Container {
    background: white;
    h5 {
      margin: 0;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
    }
  }
  @media (min-width: 1024px) {
    .section4Container {
      padding: 2% 0%;
      width: 100%;
      background: transparent;
      h5 {
        font-size: 34px;
        margin-bottom: 1%;
      }
    }
  }
}
//少小白特色

.indexSection5 {
  display: flex;
  flex-direction: row;
  background: #fffcf5;
  width: 100%;
  padding: 3% 2%;
  .section5Container {
    padding: 5% 3%;
    // background: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    h5 {
      margin: 0;
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      line-height: 160%; /* 35.2px */
    }
    .section5Cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .section5Card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: none;
        background: transparent;
        width: 49%;
        img {
          object-fit: contain;
          width: 100%;
        }
        p {
          margin: 0;
        }
        .title {
          color: #3e3a39;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 160%; /* 44.8px */
          margin-top: 20px;
        }
        .content {
          color: #878787;

          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 160%; /* 33.6px */
        }
      }
    }
  }
  @media (min-width: 1024px) {
    padding: 3% 10%;
    .section5Container {
      padding: 2% 0%;
      width: 100%;

      h5 {
        font-size: 34px;
        margin-bottom: 1%;
      }
      .section5Cards {
        justify-content: space-around;
        .section5Card {
          width: 20%;
          p {
            margin: 0;
          }
          .title {
            font-size: 28px;
          }
          .content {
            font-size: 16px;
          }
        }
      }
    }
  }
}
